.experienceContainer {
    scroll-margin-top: 4.2rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}
.experienceTitle {
    font-size: 1.2em;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(205, 204, 204, 0.597);
}
.techLogos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    width: 100%;
}
.tech {
    width: 10%;
    height: 160px;
}
.techLogo {
    width: 100%;
    height: 50%;
}
.techTitle {
    padding: 6px;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.434);
    border: 1px solid rgba(198, 186, 186, 0.122);
}
